.google-slide-page {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
}

.google-slide-page iframe {
  width: 100vw;
  height: 100%;
  border: 0;
  display: block;
}

.slide-loading,
.slide-error {
  color: #ddd;
  font-size: 1.1rem;
}

.slide-thumb {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  display: block;
}
