.clock {
  font-family: "Bebas", sans-serif;
  color: white;
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: 3px;
  margin-right: 0rem;
  min-width: 9rem;
  text-align: center;
  display: inline-block;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.clock::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  animation: blink 2s linear infinite;
}

@media (max-width: 768px) {
  .clock {
    font-size: 1.8rem;
    letter-spacing: 2px;
    min-width: 6.5rem;
  }
}
