.nav-date {
  font-family: "Steelfish-IT", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 4px;
  /* remove box shadow so date text has no halo */
  box-shadow: none;
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .nav-date {
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
