.nav-date {
  font-family: "Steelfish-IT", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 4px;
  /* remove box shadow so date text has no halo */
  box-shadow: none;
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  text-transform: uppercase;
}
