.nav-date {
  font-family: "Steelfish-IT", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  text-transform: uppercase;
}
